.Rproj.user
.Rhistory
.RData
.DS_Store
*.aux
*.bbl
*.blg
*.log
*.out
*.tex
*.nav
*.snm
*.toc
data-raw/cy_data/*
data-raw/from_erico/*
data-raw/old/*
dev/*
framed.sty
paper/cache/*
slides/*mpsa*
data/output*.rda
